.button{
    margin: 20px 15px 0 0;
    line-height: 3rem;
}

.pink {
    background-color: #eb2164;
}

.novo-produto{
    background-color: rgb(100, 100, 100);  
}

form{
    display: flex;
    flex-direction: column;
}